.labelPlayers{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2em;
    margin: 2px;
    text-decoration: Underline;
    color: #FBE2C1;
}
.containerTeamPlayers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
.firstTeamPlayers{
    
    text-align: center;
    
}
.secondTeamPlayers{
    text-align: center;
}


.ContainerBothTeam{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif; 
    font-size: 1.4em;
    color: #FBE2C1;
    width: 100%;


}
.list-of-players{
    margin-top:20px;
    margin-bottom: 20px;
    
}
li{
    font-size: 0.8em;
    list-style-type: none;
    text-align: center;
    padding: 2px;
}
li:hover{
    font-size: 110%;
    transition: 0.5s;
}