.ScoreTable{
    display: flex;
    flex-direction: column;
    background-color: #D1AF82;
    
    width: 100%;
    

}

.team-and-score-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
   /*  border-right: 2.5px solid #6D4818;
    border-left: 2.5px solid #6D4818; */
    border-bottom: 2.5px solid #6D4818;
 /*    width: 60%;
    margin-left: 20%; */
    padding: 2px;
    
}

.first-team{

}
.second-team{}